<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mahdid.o.taha.jerusalemguide">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".RequestsSingelton"
        android:icon="@mipmap/ic_qudus_round"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_qudus_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JerusalemGuide"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">
        <activity android:name=".introSlider.IntroSliderActivity" />
        <activity android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>